/* 

font-family: 'Lobster', cursive;
font-family: 'Slabo 27px', serif;
COLOR: GREEN

*/
img {
    width: 200px;
}
body {
    padding-top: calc(7% + 70px);
}

.container, .container-fluid {
    padding: 10% 10%;
}

hr {
    width: 80%;
    margin: 30px auto;
}

h1 {
    font-size: 3.3rem;
    font-family: 'Lobster', cursive;
}

p, a {
    font-size: 1.5rem;
    font-family: 'Slabo 27px', serif;
}

h3 {
    font-size: 1.3rem;
}

h2 {
    font-size: 2.4rem;
}

/* NAVBAR */

#navbar {
    background-color:  #50c878;
    /* padding: 2% 10% !important; */
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 4;
}

#navbar .container-fluid {
    padding: 2% 10%;
}

#navbar h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em !important;
}

#navbar ul {
    margin-left: auto;
    font-size: 1.3rem;
    font-family: 'Slabo 27px', serif;
}

#navbar ul li {
    padding-right: 10px;
}

#navbar ul a:hover {
    text-decoration: 3px underline;
    font-size: 1.4rem;
}

/* PRIMA SECTIUNE */

#firstSection {
    text-align: center;
}

#firstSection h1 {
    padding-bottom: 40px;
}

#firstSection button {
    padding: 10px 30px;
    border-radius: 5px 30px;
}

/* SECOND SECTION */

#secondSection h3 {
    text-align: center;
    font-size: 1.6rem;
}

#secondSection {
    background-color:  #228b22;
    padding-top: 30px;
    color: whitesmoke;
}

#secondSection .container {
    padding: 10% 5%;
}

#secondSection .col-sm-12 {
    padding: 60px 20px;
    color: white;
}

#secondSection img {
    width: 150px;
    border-radius: 100%;
}

/* THIRD SECTION */
#thirdSection .container-fluid {
    padding: 10% 3%;
}
#thirdSection .col-sm-12 {
    margin-bottom: 80px;
    padding: 0px;
}

#thirdSection img {
    width: 350px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

/* FOURTH SECTION */

#fourthSection {
    background-color: #4D8C57;
    padding-top: 40px;
    color: whitesmoke;
}

#fourthSection .carousel-inner {
    width: 60%;
    height: 400px;
    margin: auto;
}

#fourthSection button span {
    position: absolute;
    top: 0px;
    bottom: 0px;
}

#fourthSection .carousel-inner .smallLong {
    font-size: calc(1rem + 30%);
}

#fourthSection h2 {
    /* text-align: center; */
    padding-bottom: 30px;
    font-size: calc(1rem + 100%);
}

  /* MEDIA QUERY */

  @media (max-width: 500px) {
      #navbar .navbar-toggler {
          margin: auto;
      }

      body {
        padding-top: calc(10% + 120px);
    }

    #thirdSection img {
        width: 225px;
    }

    #fourthSection .carousel-inner p {
        font-size: 14px;
    }
  }

  @media (max-width: 800px) {
    #thirdSection img {
        width: 325px;
    }
  }